<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.soccerscores" >

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name="example.soccerscores.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="example.soccerscores.ScoresProvider"
            android:authorities="example.soccerscores" />

        <activity
            android:name="example.soccerscores.AboutActivity"
            android:label="About"
            android:parentActivityName="example.soccerscores.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="example.soccerscores.MainActivity" />
        </activity>
        <service android:name="example.soccerscores.service.FetchService" />
        <service android:name="example.soccerscores.service.TeamImageService" />


        <!-- Widget Code -->

        <receiver
            android:name="example.soccerscores.widget.DetailWidgetProvider"
            android:label="@string/title_widget_detail"
            android:enabled="@bool/widget_detail_enabled">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.android.sunshine.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info_detail" />
        </receiver>
        <service
            android:name="example.soccerscores.widget.DetailWidgetRemoteViewsService"
            android:enabled="@bool/widget_detail_enabled"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
